<div class="navbar">
    <!-- Open side - Naviation on mobile -->
    <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up">
      <i class="material-icons">&#xe5d2;</i>
    </a>
    <!-- / -->

    <!-- Page title - Bind to $state's title -->
    <span class="navbar-item pull-left h5">{{app.name}} :: <span ng-bind="$state.current.data.title" id="pageTitle"></span></span>

    <!-- navbar right -->
    <ul class="nav navbar-nav pull-right">      
      <li class="nav-item dropdown">
      <a class="nav-link clear" href data-toggle="dropdown">
      <span>
        <i class="material-icons">
          apps 
                   
        </i>
      </span>
      <span class="nav-text">Setting</span>
    </a>
        
        <div ui-include="'../views/blocks/dropdown.user.html'"></div>
      </li>
      
    </ul>
    <!-- / navbar right -->

    <!-- navbar collapse -->
    
    <!-- / navbar collapse -->
</div>
