<ul class="nav" ui-nav>
  <li class="nav-header hidden-folded">
    <span class="text-xs text-muted">Medical Records</span>
  </li>  
  
  <li>
    <a>
      <span class="nav-caret text-muted">
        <i class="fa fa-caret-down"></i>
      </span>
      <i class="nav-label"><b class="label label-sm no-bg">6</b></i>
      <span class="nav-icon">
        <i class="material-icons">
          event_note          
        </i>
      </span>
      <span class="nav-text">Summary</span>
    </a>
    <ul class="nav-sub">
      <li>
        <a><span class="nav-text">Action</span></a>
      </li>
      <li>
        <a><span class="nav-text">Another action</span></a>
      </li>          
    </ul>
  </li>
  <li>
    <a>
      <span class="nav-caret text-muted">
        <i class="fa fa-caret-down"></i>
      </span>
      <i class="nav-label"><b class="label label-sm no-bg">6</b></i>
      <span class="nav-icon">
        <i class="material-icons">
          insert_drive_file
        </i>
      </span>
      <span class="nav-text">Result</span>
    </a>
    <ul class="nav-sub">
      <li>
        <a><span class="nav-text">Action</span></a>
      </li>
      <li>
        <a><span class="nav-text">Another action</span></a>
      </li>
      
    </ul>
  </li>
  <li><div class="b-b b m-t-sm"></div></li>  
  <li class="nav-header hidden-folded">
    <span class="text-xs text-muted">Function</span>
  </li>   
  
  <li>
    <a>
      <span class="nav-icon">
        <i class="material-icons">
          event_available                    
        </i>
      </span>
      <span class="nav-text">Appoitment</span>
    </a>
  </li>
  <li><div class="b-b b m-t-sm"></div></li>  
  <li class="nav-header hidden-folded">
    <span class="text-xs text-muted">Setting</span>
  </li>   
  
  <li>
    <a>
      <span class="nav-icon">
        <i class="material-icons">
          vpn_key 
          <span ui-include="'../assets/images/i_7.svg'"></span>         
        </i>
      </span>
      <span class="nav-text">Change Password</span>
    </a>
  </li>
  <li>
    <a>
      <span class="nav-icon">
        <i class="material-icons">
          perm_identity
          <span ui-include="'../assets/images/i_6.svg'"></span>
        </i>
      </span>
      <span class="nav-text">Change Login ID</span>
    </a>
  </li>
  <li><div class="b-b b m-t-sm"></div></li>
    <li class="no-bg">
      <a href ng-click="logout()">
        <span class="nav-icon">
         <i class="material-icons">&#xe8ac;</i>
        </span>
        <span class="nav-text">Logout</span>
      </a>
    </li>
</ul>

