<!-- only need a height for layout 4 -->
<div class="padding">
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h2>Change Password</h2>
                </div>
                <div class="box-divider m-a-0"></div>
                <div class="box-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" ng-model="changePasswordValue.password" id="exampleInputPassword1"  placeholder="Password">
                        </div>
                        <button type="submit" class="btn info m-b" ng-click="changePassword()">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div id="m" class="modal  form-validation" data-backdrop="true">
    <div class="modal-dialog modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Update Detail</h5>
        </div>
        <form  name='frmModal' id='frmModal'  class="">
            <div class="modal-body text-center p-lg">
                <div class="form-group row" style="text-align:left;margin-left:10px;margin-right:-70px;">
                 <p>Succesfully updated</p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn primary p-x-md" data-dismiss="modal">OK</button>

            </div>

        </form><!-- /.modal-content -->

    </div>
</div>
<!-- / .modal -->

<script type="text/javascript">

    $('#m').on('hidden.bs.modal', function(){
        $(this).data('modal', null);
        $('#frmModal')[0].reset();

    });
</script>