<div class="item">
    <div class="item-bg">
      <img src="../assets/images/a1.jpg" class="blur opacity-3">
    </div>
    <div class="p-a-md">
      <div class="row m-t">
        <div class="col-sm-7">
          <a href class="pull-left m-r-md">
            <span class="avatar w-96">
              <img src="../assets/images/a1.jpg">
              <i class="on b-white"></i>
            </span>
          </a>
          <div class="clear m-b">
            <h3 class="m-a-0 m-b-xs">{{}}</h3>
            <p class="text-muted"><span class="m-r">UX/UI Director</span> <small><i class="fa fa-map-marker m-r-xs"></i>London, UK</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dker p-x">
    <div class="row">
      <div class="col-sm-6 col-sm-push-6">

      </div>
      <div class="col-sm-6 col-sm-pull-6">
        <div class="p-y-md clearfix nav-active-{{app.setting.theme.primary}}">
          <ul class="nav nav-pills nav-sm">
            <li class="nav-item active">
              <a class="nav-link" href data-toggle="tab" data-target="#tab_1">User Profile</a>
            </li>


          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="padding">
    <div class="row">
      <div class="col-sm-8 col-lg-9">
        <div class="tab-content">
          <div class="tab-pane p-v-sm active" id="tab_1">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <div class="box">
                  <div class="box-header">
                    <h3>User Details</h3>
                  </div>
                  <ul class="list-group no-border m-b">
                    <li class="list-group-item">
                      <div class="clear">
                        <a href="" class="_500 block">Name</a>
                        <span class="text-muted">{{cblProfile.name}}</span>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="clear">
                        <a href="" class="_500 block">Login ID</a>
                        <span class="text-muted">{{cblProfile.login}}</span>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="clear">
                        <a href="" class="_500 block">Create Date</a>
                        <span class="text-muted">{{cblProfile.createDate}}</span>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="clear">
                        <a href="" class="_500 block">RegNo</a>
                        <span class="text-muted">{{cblProfile.patient.RegNo}}</span>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="clear">
                        <a href="" class="_500 block">Registration Date</a>
                        <span class="text-muted">{{cblProfile.patient.RegDate}}</span>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="clear">
                        <a href="" class="_500 block">Patient Name</a>
                        <span class="text-muted">{{cblProfile.patient.name}}</span>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="clear">
                        <a href="" class="_500 block">NRC</a>
                        <span class="text-muted">{{cblProfile.patient.NRC}}</span>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="clear">
                        <a href="" class="_500 block">Gender</a>
                        <span class="text-muted">{{cblProfile.patient.Gender}}</span>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="clear">
                        <a href="" class="_500 block">FatherName</a>
                        <span class="text-muted">{{cblProfile.patient.FatherName}}</span>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="clear">
                        <a href="" class="_500 block">Date Of Birth</a>
                        <span class="text-muted">{{cblProfile.patient.DOB}}</span>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="clear">
                        <a href="" class="_500 block">Email</a>
                        <span class="text-muted">{{cblProfile.patient.email}}</span>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="clear">
                        <a href="" class="_500 block">Allergic Info</a>
                        <span class="text-muted">{{cblProfile.patient.alergicInfo}}</span>
                      </div>
                    </li>
                  </ul>
              </div>
          </div>
          <div class="tab-pane p-v-sm" id="tab_2">

          </div>

        </div>
      </div>
      <div class="col-sm-4 col-lg-3">
        <div>


        </div>
      </div>
    </div>
  </div>
